.app-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(220, 220, 220);

    .left {
            display: flex;
            gap: 1.5rem;
            padding: 1.5rem 0rem 1.5rem 1.5rem;
        }

    .right {
        display: flex;
        gap: 1.5rem;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
        padding-right: 1.5rem;

        mat-card-content {
            display: flex;
            align-items: center;
        }

        .time {
            font-size: 3rem;
            font-weight: 600;
            padding-bottom: 0.5rem;
        }

        .date {
            text-align: end;
            padding-right: 0.25rem;
        }
    }
}






