.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.intakes {
    display: flex;
    padding: 7rem;
    justify-content: center;
}

.protocol {
    padding: 7rem;
}

table {
    padding:1.5rem;
}

mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin: 3rem;

    &.dose-information {
    }

    &.taken {
        background-color: #66e082;   
    }

    &.not-taken {
        background-color: #ff6f6f;
    }
}