<div class="container">
    <h1>Arduino</h1>

    <mat-card class="dose-information" appearance="outlined">
        Morning Dose: Taken
    </mat-card>
    <br>
    <mat-card class="dose-information" appearance="outlined">
        Noon Dose: Not Taken
    </mat-card>
    <br>
    <mat-card class="dose-information" appearance="outlined">
        Evening Dose: Taken
    </mat-card>
    <br>
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Logging Information</mat-card-title>
            <mat-card-subtitle>Recent Events:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Event 1: 08:00 AM - Morning Dose Taken
                <br>
                Event 2: 12:00 PM - Box moved
                <br>
                Event 3: 06:00 PM - Evening Dose Taken
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>View full log</button>
        </mat-card-actions>
    </mat-card>
</div>


